services:
  - type: web
    name: n8n
    runtime: docker
    repo: https://github.com/lakshcode9/n8n
    region: virginia
    plan: starter
    branch: main
    dockerfilePath: ./Dockerfile
    dockerContext: ./
    envVars:
      - key: N8N_PORT
        value: 5678
      - key: N8N_PROTOCOL
        value: https
      - key: N8N_HOST
        sync: false
      - key: N8N_EDITOR_BASE_URL
        sync: false
      - key: WEBHOOK_URL
        sync: false
      - key: N8N_ENCRYPTION_KEY
        sync: false
      - key: N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS
        value: "true"
      - key: N8N_TRUSTED_PROXIES
        value: "0.0.0.0/0"
      - key: GENERIC_TIMEZONE
        value: America/New_York
      - key: TZ
        value: America/New_York
      # Data pruning
      - key: EXECUTIONS_DATA_PRUNE
        value: "true"
      - key: EXECUTIONS_DATA_MAX_AGE
        value: "168"
